## Data Types and Structure Questions

1. What are data structures, and why are they important?

- Data structures are ways to organize and store data in a computer so that it can be efficiently accessed and modified. They are important because they enable efficient data storage, retrieval, and manipulation, which is crucial for writing efficient algorithms and programs.

2. Explain the difference between mutable and immutable data types with examples.

- Mutable data types can be modified after creation (e.g., lists, dictionaries), whereas immutable data types cannot be modified (e.g., strings, tuples). Example: list = [1, 2, 3]; list[0] = 4; print(list) -> [4, 2, 3]. In contrast, strings are immutable: str = "hello"; str[0] = "H" -> Error.

3. What are the main differences between lists and tuples in Python?

- The main differences are:
(1) Lists are mutable, whereas tuples are immutable.
(2) Lists are defined using square brackets [], whereas tuples are defined using parentheses ().
(3) Lists have more methods than tuples, such as append(), insert(), and remove().

4. Describe how dictionaries store data.

- Dictionaries store data as key-value pairs, where each key is unique and maps to a specific value. Keys can be strings, integers, or other immutable types, while values can be any data type, including lists and dictionaries.

5. Why might you use a set instead of a list in Python?

- we use a set instead of a list when we need to store unique elements and don't care about the order. Sets also provide faster lookup, insertion, and removal operations compared to lists.

6. What is a string in Python, and how is it different from a list?

- A string is a sequence of characters, such as "hello". It is different from a list because strings are immutable, whereas lists are mutable. Additionally, strings have different methods, such as upper(), lower(), and split().

7. How do tuples ensure data integrity in Python?

- Tuples ensure data integrity by being immutable, meaning their contents cannot be modified after creation. This ensures that once a tuple is created, its data remains consistent and trustworthy.

8. What is a hash table, and how does it relate to dictionaries in Python?

- A hash table is a data structure that maps keys to values using a hash function. In Python, dictionaries are implemented as hash tables, which allows for efficient lookup, insertion, and removal operations.

9. Can lists contain different data types in Python?

- Yes, lists can contain different data types, including strings, integers, floats, and other lists.

10. Explain why strings are immutable in Python.

- Strings are immutable in Python because it allows for efficient memory management and thread safety. Immutable strings can be safely shared between multiple threads and processes without worrying about data corruption.

11. What advantages do dictionaries offer over lists for certain tasks?

- Dictionaries offer advantages over lists when we need to store and retrieve data by key, rather than by index. They also provide faster lookup, insertion, and removal operations.

12. Describe a scenario where using a tuple would be preferable over a list.

- A scenario where using a tuple would be preferable over a list is when someone need to store a small, fixed-size collection of data that won't change, such as a point in 3D space (x, y, z).

13. How do sets handle duplicate values in Python?

- Sets in Python automatically eliminate duplicate values, ensuring that each element is unique.

14. How does the "in" keyword work differently for lists and dictionaries?

- The "in" keyword works differently for lists and dictionaries. For lists, "in" checks if a value is present in the list. For dictionaries, "in" checks if a key is present in the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not.

- No, we cannot modify the elements of a tuple because tuples are immutable in Python.

16. What is a nested dictionary, and give an example of its use case?

- A nested dictionary is a dictionary that contains another dictionary as a value. Example: student = {"name": "Neha", "Marks": {"English": 90, "History": 85}}.

17. Describe the time complexity of accessing elements in a dictionary.

- The time complexity of accessing elements in a dictionary is O(1), meaning it takes constant time regardless of the size of the dictionary.

18. In what situations are lists preferred over dictionaries?

- Lists are preferred over dictionaries when you need to store a collection of data that doesn't require key-value pairs, such as a list of numbers or a list of strings.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries are considered unordered because the key-value pairs are stored in a hash table, which doesn't maintain a specific order. This affects data retrieval in that we cannot rely on the order of items when iterating over a dictionary. However, we can use the .keys(), .values(), or .items() methods to access dictionary elements, and the sorted() function to sort dictionary items.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

- The primary difference between a list and a dictionary in terms of data retrieval is how elements are accessed. In a list, elements are accessed by their index (position in the list), using square brackets [].
In a dictionary, elements are accessed by their key, using square brackets [] or the .get() method. Additionally, dictionaries provide faster lookup times than lists, especially for large datasets.

# Practical Questions

In [1]:
#1. Create a string with your name and print it.

name = "Neha"
print(name)

Neha

In [4]:
# 2. Find the length of the string "Hello World".

string = "Hello World"
lengthstr = len(string)
print(lengthstr)

11

In [6]:
# 3. Slice the first 3 characters from the string "Python Programming".

string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

In [7]:
# 4. Convert the string "hello" to uppercase.

string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

In [8]:
# 5. Replace the word "apple" with "orange" in the string "I like apple".

string = "I like apple"
replaced_string = string.replace("apple", "orange")
print(replaced_string)

I like orange

In [9]:
# 6. Create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [10]:
# 7. Append the number 10 to the list [1, 2, 3, 4].

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [11]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5].

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [12]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd'].

letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [13]:
# 10. Reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]
reversed_numbers = numbers[::-1]
print(reversed_numbers)

[50, 40, 30, 20, 10]

In [34]:
# 11. Create a tuple with the elements 100, 200, 300 and print it.

numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [33]:
# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print(second_last)

blue

In [32]:
# 13. Find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

In [31]:
# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')
print(index)

1

In [30]:
# 15. Create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'orange')
if 'kiwi' in fruits:
    print("Kiwi is in the tuple")
else:
    print("Kiwi is not in the tuple")

Kiwi is not in the tuple

In [29]:
# 16. Create a set with the elements 'a', 'b', 'c' and print it.

letters = {'a', 'b', 'c'}
print(letters)

{'b', 'a', 'c'}

In [28]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}.

numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [27]:
# 18. Remove the element 4 from the set {1, 2, 3, 4}.

numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [26]:
# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set1.union(set2)
print(union)

{1, 2, 3, 4, 5}

In [25]:
# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection = set1.intersection(set2)
print(intersection)

{2, 3}

In [24]:
# 21. Create a dictionary with the keys "name", "age", and "city", and print it.

person = {"name": "John", "age": 30, "city": "New York"}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [23]:
# 22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {"name": "John", "age": 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [22]:
# 23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {"name": "Alice", "age": 30}
name = person["name"]
print(name)

Alice

In [20]:
# 24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {"name": "Bob", "age": 22, "city": "New York"}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

In [19]:
# 25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {"name": "Alice", "city": "Paris"}
if "city" in person:
    print("City exists")
else:
    print("City does not exist")

City exists

In [18]:
# 26. Create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [17]:
# 27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[2, 4, 42, 63, 94]

In [16]:
# 28. Create a list with strings and print the element at the third index.

fruits = ["apple", "banana", "cherry", "date"]
third_fruit = fruits[2]
print(third_fruit)

cherry

In [15]:
# 29. Combine two dictionaries into one and print the result.

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [14]:
# 30. Convert a list of strings into a set.

fruits = ["apple", "banana", "apple", "cherry"]
fruit_set = set(fruits)
print(fruit_set)

{'banana', 'cherry', 'apple'}